<p id="notice"><%= notice %></p>

<p>
  <strong>Movie:</strong>
  <%= @movie_rating.movie_id %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @movie_rating.rating %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @movie_rating.customer_id %>
</p>

<%= link_to 'Edit', edit_movie_rating_path(@movie_rating) %> |
<%= link_to 'Back', movie_ratings_path %>
