<% provide(:title, "Home") %>
<div class="container" id="customer-home">
  <%= render "flash_notice" %>
  <div class="row">
    <div class="col">
      <% if !@video.nil? %>
        <div class="jumbotron" style="background-image: url('<%= url_for @video.content_parent.promo_image %>')">
          <h2 class="display-4"><%= @video.content_parent.title %></h2>
          <% if @video.episode? %>
            <h5><%= @video.title %> <small><%= @video.content.season_episode %></small></h5>
          <% end %>
          <%= link_to @video_progress.nil? ? "Watch Next" : "Continue Watching", @video, class: "btn btn-dark" %>
        </div>
      <% else %>
        <div class="jumbotron" style="background-image: url('<%= url_for Show.last.promo_image %>')">
          <h2 class="display-4">Find something to watch!</h2>
          <%= link_to "Browse content", browse_path, class: "btn btn-dark" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row" id="home-subscriptions">
    <div class="col">
      <div class="home-header"><h3>Your Subscriptions</h3></div>
      <div class="scrolling-wrapper">
        <% if current_person.user.subscriptions.any? %>
          <% current_person.user.subscriptions.includes(show: {promo_image_attachment: :blob}).each do |sub| %>
            <%= link_to sub.show do %>
              <div class="card">
                <%= image_tag url_for(sub.show.promo_image), class: "card-img-top" if sub.show.promo_image.attached? %>
                <h5 id="card-text" class="card-header"><%= truncate sub.show.name, length: 16 %></h5>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <%= link_to browse_path do %>
          <div class="card">
            <%= image_tag "homepage/04.jpg", class: "card-img-top" %>
            <h5 id="card-text" class="card-header">Find some shows!</h5>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <hr>
  <div class="row" id="home-recommendations">
    <div class="col">
      <div class="home-header"><h3>Your Recommendations</h3></div>
      <div class="scrolling-wrapper">
        <% @suggestions.each do |show| %>
          <%= link_to show do %>
            <div class="card">
              <%= image_tag url_for(show.promo_image), class: "card-img-top" if show.promo_image.attached? %>
              <h5 id="card-text" class="card-header"><%= truncate show.name, length: 16 %></h5>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <hr>
  <div class="row" id="home-recent">
    <div class="col">
      <div class="home-header"><h3>Recently Updated</h3></div>
      <div class="scrolling-wrapper">
        <% Show.with_attached_promo_image.order(updated_at: :desc).limit(10).each do |show| %>
          <%= link_to show do %>
            <div class="card">
              <%= image_tag url_for(show.promo_image), class: "card-img-top" if show.promo_image.attached? %>
              <h5 id="card-text" class="card-header"><%= truncate show.name, length: 16 %></h5>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
