<div class="container">
  <%= render "flash_notice" %>
  <div class="row justify-content-center">
    <div class="col-7 pr-0" id="friends-main">
      <div class="card card-default">
        <div class="card-body">
          <h3 id="card-text">Your friends</h3>
          <hr>
          <% @friends.each do |friend| %>
            <div class="media mb-2">
              <%= link_to friend do %>
                <%= image_tag(get_avatar(friend.person), :alt => "Avatar",
                  size: "70x70", class: "mr-3 avatar-img") %>
                <div class="media-body">
                  <%= content_tag :h4, friend.person.full_name, class: "mt-0 text-body" %>
                  <%= link_to "Remove", "#{friends_path}/#{friend.id}",
                    method: :delete, class: "btn btn-warning btn-sm pull-right" %>
                </div>
              <% end %>
            </div>
          <% end %>
          <% if @friends.none? %>
              <p>No friends yet.</p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div id="psearch">
        <%= form_tag(search_page_path, :method => "get", class: 'navbar-form') do %>  
          <div class="input-group">
          <%= search_field_tag :fsearch, params[:fsearch], placeholder: "Search for friends", class: "form-control" %>  
          	<div class="input-group-btn">
              <%= button_tag fa_icon("search"), class: "btn btn-info", name: "friend_search" %>  
          	</div>
        		</div>
        <% end %>
      </div>
      <div class="card card-default mt-3">
        <div class="card-body">
          <h3 id="card-text">Friend Requests</h3>
          <hr>
          <% @requests.each do |frequest| %>
            <div class="media mb-2">
              <% requester = frequest.requester %>
              <%= image_tag(get_avatar(requester.person), :alt => "Avatar",
                size: "70x70", class: "mr-3 avatar-img") %>
              <div class="media-body">
                <%= link_to (content_tag :h4, requester.person.full_name, class: "mt-0 text-body"), requester %>
                <%= form_with(model: frequest) do |form| %>
                  <%= form.submit "Accept", class: "btn btn-info btn-sm" %>
                  <%= link_to "Decline", "#{friend_requests_path}/#{frequest.id}", method: :delete, class: "btn btn-warning btn-sm" %>
                <% end %>
              </div>
            </div>
          <% end %>
          <% if @requests.none? %>
            <p>No pending friend requests.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
