<div id="friend_header">
    <h1>Friends</h1>
</div>

<div id="person_search">
    <%= form_tag(search_page_path, :method => "get", class: 'navbar-form navbar-right') do %>  
  		<div class="input-group">
        <%= search_field_tag :fsearch, params[:fsearch], placeholder: "Search", class: "form-control" %>  
        	<div class="input-group-btn">
                <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
        	</div>
  		</div>
    <% end %>
</div>

<div id="pend_req">
    <h1>Pending Friend Requests</h1>
    <% @requests.each do |frequest| %>
        <% requester = frequest.requester %>
        <div class="result_image">
            <% if requester.person.avatar.attached? %>
                <%= image_tag(url_for(requester.person.avatar), :alt => "Avatar", size: "100x100") %>
            <% else %>
                <%= image_tag("homepage/01.jpg", :alt => "Avatar", size: "100x100") %>
            <% end %>
        </div>
        <div class="result_description">
            <h3><%= requester.person.full_name %></h3>
            <br/>
        </div>
        <div class="friend_buttons">
            <%= form_with(model: frequest) do |form| %>
              <%= form.submit "Add Friend", class: "btn btn-info" %>
            <% end %>
            <%= link_to "Delete friend", "#{friend_requests_path}/#{frequest.id}", method: :delete, class: "btn btn-warning" %>
        </div>
    <% end %>
</div>

<div id="friend_list">
    <h1>Friends List</h1>
    <% @friends.each do |friend| %>
        <div class="result_image">
            <% if friend.person.avatar.attached? %>
                <%= image_tag(url_for(friend.person.avatar), :alt => "Avatar", size: "100x100") %>
            <% else %>
                <%= image_tag("homepage/01.jpg", :alt => "Avatar", size: "100x100") %>
            <% end %>
        </div>
        <div class="result_description">
            <h3><%= friend.person.full_name %></h3>
            <br/>
            <%= link_to "Delete friend", "#{friends_path}/#{friend.id}", method: :delete, class: "btn btn-warning" %>
        </div>
    <% end %>
</div>
