<div class="container">
    <div class="row">
        <h1>Welcome to Vidon Project</h1>
        <p>This page overviews the contents of the web applcation.</p>
    </div>
    <div class="row container">
        <table>
            <tr>
                <td><%= link_to "Customers:", :customers %></td>
                <td><%= Customer.count %></td>
            </tr>
            <tr>
                <td><%= link_to "Producers:", :producers %></td>
                <td><%= Producer.count %></td>
            </tr>
            <tr>
                <td><%= link_to "Movies:", :movies %></td>
                <td><%= Movie.count %></td>
            </tr>
            <tr>
                <td><%= link_to "Shows:", :shows %></td>
                <td><%= Show.count %></td>
            </tr>
            <tr>
                <td><%= link_to "Episode:", :episodes %></td>
                <td><%= Episode.count %></td>
            </tr>
            <tr>
                <td><%= link_to "Videos:", :videos %></td>
                <td><%= Video.count %></td>
            </tr>
        </table>
    </div>
</div>