<p id="notice"><%= notice %></p>
<% if logged_in? and current_person.customer? %>
  <div class="container">
    <h3>My Rentals</h3>
    <hr>
    <% current_person.user.rentals.each do |rental| %>
      <div class="row well">
        <div class="col-sm-2">
          <% if rental.movie.promo_image.attached? %>
            <%= image_tag(url_for(rental.movie.promo_image), :alt => "Promo Image", :style => "height: 100px; width: 100px;") %>
          <% else %>
            <%= image_tag("nullPhoto.png", :alt => "nullPhoto", :style => "height: 100px; width: 100px;") %>
          <% end %>
        </div>
        <div class="col-sm-8">
          <b><%= rental.movie.title %></b>
          <p><%= rental.movie.description %></p>
        </div>
        <div class="col-sm-2">
          <%= link_to "Play", rental.movie.video, class: "btn btn-primary btn-block btn-sm" %>
        </div>
      </div>
    <% end %>
    <div class="col-sm-12 text-center">
      <%= link_to "Find new movies!", movies_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
<% else %>
  <p>bad site</p>
<% end %>