<div class="container">
  <div class="row">
    <div class="col-3" id="search-filters">
      <div class="card card-default">
        <h5 class="card-header">Search filters</h5>
        <div class="card-body">
          <p>todo.</p>
        </div>
      </div>
    </div>
    <div class="col-9" id="search-results">
      <div class="card card-default">
        <div class="card-body">
          <h4><%= "Results for \"#{params[:search]}\"" %></h4>
          <hr>
          
        </div>
      </div>
    </div>
  </div>
</div>

<h3>Search Results</h3>  

  <div class="container">
  <br/>
  <ul class="search_results">
  <% if @results.blank? %>
    <p>Sorry, no results match your search.</p>
  <% end %>
  <% @results.each do |result| %>  
    <li>
      <% if result.is_a?(Customer) %>
        <p class="result_image">
          <% if result.person.avatar.attached? %>
            <%= image_tag(url_for(result.person.avatar), :alt => "Avatar", size: "100x100") %>
          <% else %>
            <%= image_tag("homepage/01.jpg", :alt => "Avatar", size: "100x100") %>
          <% end %>
        </p>
        <div class="result_description">
          <h3><%= result.person.full_name %></h3>
          <br/>
          <%= link_to 'View page', result %>
        </div>
      <% else %>
    <p class="result_image">
      <%= image_tag("nullPhoto.png", :alt => "nullPhoto", :style => "height: 150px; width: 150px;") %>
    </p>
      
    <div class="result_description">
      <% if result.is_a?(Show) %>
        <h3><%= result.name %></h3>
    <p>
      <%= result.description %>
        <br/>
        <%= link_to 'View page', result %>
    </p>
      <% end %>
      <% if result.is_a?(Movie) %>
        <h3><%= result.video.title %></h3>
    <p>
        <%= result.video.description %>
        <br/>
        <%= link_to 'View page', result %>
    </p>
  <% end %>
    </div>
      <% end %>
    </li>
  <% end %>
  </ul>
  </div>
  



