<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><h1>Login</h1></div>
    <div class="panel-body">
      <%= form_with scope: :session, url: login_path do |form| %>
        <div class="field">
          <%= form.label :username %>
          <%= form.text_field :username %>
        </div>
        
        <div class="field">
          <%= form.label :password %>
          <%= form.password_field :password %>
        </div>
        
        <div class="actions">
          <%= form.submit "Log in!", class: "btn btn-primary" %>
        </div>
      <% end %>
      
      <p><%= link_to "Sign up", signup_path, class: "btn btn-info" %></p>
    </div>
  </div>
</div>