<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<ul class="movies_list">
  <% @movies.each do |movie| %>
  <li>
    <p class="movie_list_image">
      <%= image_tag("nullPhoto.png", :alt => "nullPhoto", :style => "height: 150px; width: 150px;") %>
      <% if movie.promo_image.attached? %>
          <%= image_tag(url_for(movie.promo_image), :alt => "Promo Image", :style => "height: 400px; width: 300px;") %>
        <% else %>
          <%= image_tag("nullPhoto.png", :alt => "Thumbnail", :style => "height: 100px; width: 100px;") %>
        <% end %>
    </p>
    
    <div class="movie_description">
      <h3><%= movie.video.title %></h3>
      <p>
        <%= movie.video.description %>
        <br/>
        <%= link_to 'Check Out', movie %>
        <%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
    </div>
  </li>
  <% end %>
</ul>

<br>
