<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<ul class="movies_list">
  <% @movies.each do |movie| %>
  <li>
    <p class="movie_list_image">
      <%= image_tag("nullPhoto.png", :alt => "nullPhoto", :style => "height: 150px; width: 150px;") %>
    </p>
    
    <div class="movie_description">
      <h3><%= movie.video.title %></h3>
      <p>
        <%= movie.video.description %>
        <br/>
        <%= link_to 'Check Out', movie %>
      </p>
    </div>
  </li>
  <% end %>
</ul>

<br>

