<p id="notice"><%= notice %></p>

<div class="container">
  <% unless @movie.video.nil? %>
  <h1 class="movie_title">
    <%= @movie.video.title %>
    <%= image_tag("nullPhoto.png", :alt => "nullPhoto", :style => "height: 400px; width: 300px;") %>
  </h1>
  
  <h2 class="movie_description">
    
    <p>
      <ul class="movie_navbar_nav">
        <li class="navbar-item">
          <a href='/'>Subscribe</a>
        </li>
        <li class="navbar-item">
          <%= link_to 'Watch', @movie.video %>
        </li>
      </ul>
      <br />
    </p>
    
    <p>
      <strong>Description:</strong>
      <%= @movie.video.description %>
    </p>
    
    <% end %>
    <% unless @movie.producer.nil? %>
    
    <p>
      <strong>Producer:</strong>
      <%= @movie.producer.company_name %>
    </p>
    
    <p>
      <%= link_to 'Return to movies', movies_path %>
    </p>
    
  </h2>
  
  <% end %>
</div>


