<div class="container">
  <%= render "flash_notice" %>
  <% unless @movie.video.nil? %>
  <h1 class="movie_title" style="color:black;">
    <%= @movie.video.title %>
    <% if @movie.promo_image.attached? %>
        <%= image_tag(url_for(@movie.promo_image), :alt => "Promo Image", :style => "height: 400px; width: 300px;") %>
    <% else %>
        <%= image_tag("nullPhoto.png", :alt => "nullPhoto", :style => "height: 400px; width: 300px;") %>
    <% end %>
  </h1>
  
  <h2 class="movie_description" style="color:white;">
    
    <% if logged_in? and current_person.customer? %>
    <p>
      <ul class="movie_navbar_nav">
        <% unless @movie.rentals.find_by(customer_id: current_person.user.id) %>
          <%= form_with(scope: :rental, url: "#{url_for @movie}/rent") do |form| %>
            <%= form.hidden_field :movie_id, value: @movie.id %>
            <%= form.submit "Rent", class: "btn btn-info" %>
          <% end %>
        <% else %>
          <li class="navbar-item">
          <%= link_to 'Watch', @movie.video, class: "btn btn-primary btn-large" %>
        </li>
        <% end %>
      </ul>
      <br />
    </p>
    <% end %>
    
    <p id="sm-text">
      <strong>Description:</strong>
      <%= @movie.video.description %>
    </p>
    
    <% if current_person.customer? %>
      <p id="sm-text">
        <strong>Genres:</strong>
        <% @genres = MovieGenre.all.where(movie_id: @movie.id)%>
        <% @genres.each do |genre| %>
          <% if genre == @genres.last %>
            <%= genre.genre %>
          <% else %>
            <%= genre.genre + ", "%>
          <% end %>
        <% end %>
      </p>
      
      <p id="sm-text">
        <strong>Actors:</strong>
        <% @actors = MovieActor.all.where(movie_id: @movie.id)%>
        <% @actors.each do |actor| %>
          <% if actor == @actors.last %>
            <%= actor.name %>
          <% else %>
            <%= actor.name + ", "%>
          <% end %>
        <% end %>
      </p>
      <% end %>
    
    <% end %>
    <% unless @movie.producer.nil? %>
    
    <p id="sm-text">
      <strong>Producer:</strong>
      <%= @movie.producer.company_name %>
    </p>
    
    <% if current_person.producer? and @movie.producer == current_person.user %>
    <div class="col" id="profile-comments">
      <div class="card card-default">
        <div class="card-body">
          <h4 id="card-text">Actors</h4>
          <hr>
          <% if @movie.movie_actors.any? %>
            <% @movie.movie_actors.each do |actor| %>
              <div class="mb2">
                <small style="color:black;"><%= actor.name %></small>
                <%= link_to 'Edit', edit_movie_actor_path, class: "btn btn-primary btn-large" %>
                <%= link_to 'Delete', actor, class: "btn btn-primary btn-large", method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            <% end %>
          <% end %>
          <div>
            <hr>
            <%= render 'movie_actor_form' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col" id="profile-comments">
      <div class="card card-default">
        <div class="card-body">
          <h4 id="card-text">Genres</h4>
          <hr>
          <% if @movie.movie_genres.any? %>
            <% @movie.movie_genres.each do |genre| %>
              <div class="mb2">
                <small style="color:black;"><%= genre.genre %></small>
                <%= link_to 'Edit', edit_movie_genre_path, class: "btn btn-primary btn-large" %>
                <%= link_to 'Delete', genre, class: "btn btn-primary btn-large", method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            <% end %>
          <% end %>
          <div>
            <hr>
            <%= render 'movie_genre_form' %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <p>
      <% if current_person.customer? %>
        <%= link_to 'Return to movies', browse_path, {:style=>'color:#FFFFFF;', :class => "css_class"} %>
      <% elsif current_person.producer? and @movie.producer == current_person.user %>
        <%= link_to 'Return', pro_shows_path, {:style=>'color:#FFFFFF;', :class => "css_class"} %>
      <% end %>
    </p>
    <% if current_person.producer? and @movie.producer == current_person.user %>
      <%= link_to 'Delete Movie', @movie, class: "btn btn-primary btn-large", method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
  </h2>
</div>


