<div class="container">
  <%= render "flash_notice" %>
  <% unless @movie.video.nil? %>
  <h1 class="movie_title" style="color:black;">
    <%= @movie.video.title %>
    <% if @movie.promo_image.attached? %>
        <%= image_tag(url_for(@movie.promo_image), :alt => "Promo Image", :style => "height: 400px; width: 300px;") %>
    <% else %>
        <%= image_tag("nullPhoto.png", :alt => "nullPhoto", :style => "height: 400px; width: 300px;") %>
    <% end %>
  </h1>
  
  <h2 class="movie_description" style="color:white;">
    
    <% if logged_in? and current_person.customer? %>
    <p>
      <ul class="movie_navbar_nav">
        <% unless @movie.rentals.find_by(customer_id: current_person.user.id) %>
          <%= form_with(scope: :rental, url: "#{url_for @movie}/rent") do |form| %>
            <%= form.hidden_field :movie_id, value: @movie.id %>
            <%= form.submit "Rent", class: "btn btn-info" %>
          <% end %>
        <% else %>
          <li class="navbar-item">
          <%= link_to 'Watch', @movie.video, class: "btn btn-primary btn-large" %>
        </li>
        <% end %>
      </ul>
      <br />
    </p>
    <% end %>
    
    <div class="row">
      <div class="small-2 large-2 columns">
        <%= imdb_style_rating_for @movie, current_person.customer%>
      </div>
      <br>
      <div class="small-2 large-2 columns">
        <% if current_person.customer? >
          Rating: <%= rating_for @movie, "rating" %>
        <% end %>
      </div>  
    </div> 
    
    <p id="sm-text">
      <strong>Description:</strong>
      <%= @movie.video.description %>
    </p>
    
    <% end %>
    <% unless @movie.producer.nil? %>
    
    <p id="sm-text">
      <strong>Producer:</strong>
      <%= @movie.producer.company_name %>
    </p>
    
    <p>
      <% if current_person.customer? %>
        <%= link_to 'Return to movies', browse_path, {:style=>'color:#FFFFFF;', :class => "css_class"} %>
      <% elsif current_person.producer? and @movie.producer == current_person.user %>
        <%= link_to 'Return', pro_shows_path, {:style=>'color:#FFFFFF;', :class => "css_class"} %>
      <% end %>
    </p>
  </h2>
   <% if current_person.producer? and @movie.producer == current_person.user %>
      <%= link_to 'Delete Movie', @movie, class: "btn btn-primary btn-large", method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</div>


