<% provide(:title, "Watching " + @video.title) %>
<div class="container">
  <%= render "flash_notice" %>
  <div class="row video-main mb-4">
    <div class="col">
      <%= content_tag :div, id: "video_p", class: "video-player", data: ({progress: @watch_history.progress, url: url_for(@watch_history)} unless current_person.producer?) do %>
        <video id="main-video-player" class="video-js vjs-default-skin vjs-16-9"
            controls autoplay preload="auto" width="640" height="264" 
            <%= if @video.thumbnail.attached? then "poster=\"#{ url_for @video.thumbnail }\"" end %>
            data-setup= '{}'>
          <source src="<%= url_for(@video.clip) %>" type="video/mp4">
          <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      <% end %>
    </div>
  </div>
  <div class="row video-description">
    <div class="col-9">
      <div class="card card-default mb-3">
        <div class="card-body">
          <div class="video-title">
            <h3 class="text-body">
              <%= @video.title %>
              <%= if @video.episode? then content_tag :small, @video.content.season_episode end %>
            <div class="review-buttons pull-right">
              <% @favorite = @video.content.favorites.find_by(customer_id: current_person.user.id) %>
              <% if @favorite.nil? %>
                <%= button_to "Favorite", favorites_path, params: { favorite: { content_id: @video.content_id, content_type: @video.content_type } }, class: "btn btn-primary btn-sm" %>
              <% else %>
                <%= button_to "Unfavorite", favorite_path(@favorite),  method: :delete, class: "btn btn-warning btn-sm" %>
              <% end %>
            </div>
            </h3>
          </div>
          <p><%= @video.description %></p>
        </div>
      </div>
      <div class="card card-default">
        <div class="card-body">
          <h4 class="text-body">Comments</h4>
          <% if @video.video_comments.any? %>
            <% @video.video_comments.each do |comment| %>
              <%= render comment %>
            <% end %>
          <% else %>
            <small>No comments.</small>
          <% end %>
          <div id="comment-form">
            <%= render 'comment_form' %>
          </div>
        </div>
      </div>
    </div>
    <% if @video.episode? %>
      <div class="col-3 video-playlist">
        <div class="card card-default">
          <h5 class="card-header"><%= link_to @video.content.show.name, @video.content.show %></h5>
          <div class="card-body">
            <div class="btn-group btn-block" role="group">
              <%= link_to fa_icon("chevron-left"), @video.prev_video, class: "btn btn-outline-secondary text-body", id: "button_prev" %>
              <%= link_to fa_icon("chevron-right"), url_for([@video.next_video_or_show, update: @watch_history.id]), class: "btn btn-outline-secondary text-body", id: "button_next" %>
            </div>
            <% @video.content.show.episodes.order(:absolute_episode).each do |episode| %>
              <%= link_to episode.video do %>
                <%= content_tag :div, class: "media", style: (if episode.id == @video.content_id then "background-color: #ddd" end) do %>
                  <div class="media-body">
                    <h4 class="media-heading text-body"><%= episode.video.title %></h4>
                    <small><%= episode.season_episode %></small>
                    <p><%= episode.video.description %></p>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
  </div>
</div>
<% if @video.episode? and !@video.next_video.nil?%>
<div class="modal fade" id="autoplayModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-body" id="autoplayModalLabel">Playing next video...</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Great video! Give us a rating or wait a bit for the next one!</p>
        <div class="text-center" id="autoplayModalLoading">
          <div class="spinner-border" role="status">
            <span class="sr-only">Waiting...</span>
          </div>
          <h3 class="text-body" id="autoplayModalTimer">10</h3>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Stop</button>
        <%= link_to "Play now", @video.next_video, type: "button", class: "btn btn-primary", "data-dismiss": "modal", id: "auto-next" %>
      </div>
    </div>
  </div>
</div>
<% end %>
