<%= form_with(model: show_rating, local: true) do |form| %>
  <% if show_rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(show_rating.errors.count, "error") %> prohibited this show_rating from being saved:</h2>

      <ul>
      <% show_rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, id: :show_rating_rating %>
  </div>

  <div class="field">
    <%= form.label :show_id %>
    <%= form.number_field :show_id, id: :show_rating_show_id %>
  </div>
  
  <div class="field">
    <%= form.label :customer_id %>
    <%= form.number_field :customer_id, id: :show_rating_customer_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
