<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
  <%= @show_rating.rating %>
</p>

<p>
  <strong>Show:</strong>
  <%= @show_rating.show_id %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @show_rating.customer_id %>
</p>

<%= link_to 'Edit', edit_show_rating_path(@show_rating) %> |
<%= link_to 'Back', show_ratings_path %>
