<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :person, customer.person do |person_fields| %>
    <h3 id="card-text">Account Information</h3>
    <div class="form-group">
      <%= person_fields.label :avatar %>
      <%= person_fields.file_field :avatar, id: :person_avatar,
        accept: "image/png,image/gif,image/jpeg", direct_upload: true,
        class: "direct-upload" %>
      <p class="help-block">Upload an image.</p>
    </div>

    <div class="form-group">
      <%= person_fields.label :username %>
      <%= person_fields.text_field :username, id: :person_username, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= person_fields.label :password %>
      <small>* Must be at least six characters long.</small>
      <%= person_fields.password_field :password, id: :person_password, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= person_fields.label :password_confirmation %>
      <%= person_fields.password_field :password_confirmation, id: :person_password_confirmation, class: "form-control" %>
    </div>
    
    <h3 id="card-text">Personal Information</h3>
    <div class="form-group">
      <%= person_fields.label :email %>
      <%= person_fields.text_field :email, id: :person_email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= person_fields.label :first_name %>
      <%= person_fields.text_field :first_name, id: :person_first_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= person_fields.label :last_name %>
      <%= person_fields.text_field :last_name, id: :person_last_name, class: "form-control" %>
    </div>
  <% end %>
  
  <%= form.fields_for :payment, customer.payment do |payment_fields| %>
    <div class="panel panel-default">
      <div class="panel-heading  text-center"><h3 id="card-text">Payment Information</h3></div>
      <div class="panel-body">
        <div class="form-group">
          <%= payment_fields.label :card_name %>
          <%= payment_fields.text_field :card_name, id: :payment_card_name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= payment_fields.label :card_num %>
          <%= payment_fields.text_field :card_num, id: :payment_card_num, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= payment_fields.label :cvc %>
          <%= payment_fields.text_field :cvc, id: :payment_cvc, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= payment_fields.label :expiration %>
          <%= payment_fields.date_select :expiration, discard_day: true, :start_year => Time.now.year, id: :payment_expiration, class: "form-control" %>
        </div>
      </div>
    </div>
    <% end %>

  <div class="actions">
    <%= form.submit "Submit!", class: "btn btn-primary btn-block"%>
  </div>
<% end %>
