<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :person, customer.person do |person_fields| %>
    <div class="panel panel-default">
      <div class="panel-heading"><h3>Account information:</h3></div>
      <div class="panel-body">
        <div class="field">
          <%= person_fields.label :avatar %>
          <%= person_fields.file_field :avatar, id: :person_avatar,
            accept: "image/png,image/gif,image/jpeg", direct_upload: true,
            class: "direct-upload" %>
        </div>

        <div class="field">
          <%= person_fields.label :username %>
          <%= person_fields.text_field :username, id: :person_username %>
        </div>

        <div class="field">
          <%= person_fields.label :password %>
          <%= person_fields.password_field :password, id: :person_password %>
        </div>

        <div class="field">
          <%= person_fields.label :password_confirmation %>
          <%= person_fields.password_field :password_confirmation, id: :person_password_confirmation %>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><h3>Personal information:</h3></div>
      <div class="panel-body">


        <div class="field">
          <%= person_fields.label :email %>
          <%= person_fields.text_field :email, id: :person_email %>
        </div>

        <div class="field">
          <%= person_fields.label :first_name %>
          <%= person_fields.text_field :first_name, id: :person_first_name %>
        </div>

        <div class="field">
          <%= person_fields.label :last_name %>
          <%= person_fields.text_field :last_name, id: :person_last_name %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit "Submit!", class: "btn btn-primary"%>
  </div>
<% end %>
