<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @customer.person_id %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @customer.payment_id %>
</p>

<p>
  <strong>Slots:</strong>
  <%= @customer.slots %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
