<div class="container" id="customer-profile">
  <div class="navbar navbar-default" id="customer-header">
    <div class="container-fluid">
      <div class="navbar-header">
        <h2><%= "#{@customer.person.first_name} #{@customer.person.last_name}" %></h2>
      </div>
      <div id="customer-nav-text">
        <small>Member since <%= @customer.created_at.strftime "%B %Y" %></small>
      </div>
    </div>
  </div>
  <div class="container" id="customer-content">
    <div class="row" id="last-watched">
      <h3>Last Watched</h3>
      <% last_sub = @customer.subscriptions.order("updated_at")
                                             .find_by("current_episode > 0") %>
      <% unless last_sub.nil?  %>
        <% ep = last_sub.show.episodes[last_sub.current_episode-1] %>
        <div class="col-sm-3">
          <h4><%= last_sub.show.name %></h4>
        </div>
        <div class="col-sm-3">
          <h5><%= "Season #{ep.season}, Episode #{ep.episode}" %></h5>
        </div>
        <div class="col-sm-6">
          <h5><%= ep.video.title %></h5>
          <p><%= ep.video.description %></p>
        </div>
      <% else %>
        <p>Oh no! They haven't watched anything!</p>
      <% end %>
    </div>
    <hr>
    <div class="row" id="customer-ratings">
      <h3>My Ratings</h3>
      <% @customer.show_ratings[0..4].each do |rating| %>
        <div class="panel panel-default">
          <div class="panel-heading"><%= rating.show.name %></div>
          <div class="panel-body"><span class="text-info text-lg"><%= rating.rating %></span>/5</div>
        </div>
      <% end %>
    </div>
    <hr>
    <div class="row" id="customer-favorites">
      <h3>My Favorites</h3>
        <% favs = @customer.show_ratings.where("rating = 5") %>
        <% if favs.any? %>
        <% favs[0..4].each do |rating| %>
          <div class="panel panel-default">
          <div class="panel-heading"><%= rating.show.name %></div>
          <div class="panel-body"><%= rating.show.description %></div>
        </div>
        <% end %>
        <% end %>
    </div>
    <hr>
    <div class="row" id="customer-timeline">
      <h3>My Timeline</h3>
      
    </div>
  </div>
</div>
