<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= if @customer.person_id? then link_to @customer.person_id, @customer.person end %>
</p>

<p>
  <strong>Payment:</strong>
  <%= if @customer.payment_id? then link_to @customer.payment_id, @customer.payment end %>
</p>

<p>
  <strong>Slots:</strong>
  <%= @customer.slots %>
</p>

<div>
  <h4>Remote data</h4>
  <% unless @customer.person.nil? %>
    <p>
      <strong>Name:</strong>
      <%= "#{@customer.person.first_name} #{@customer.person.last_name}" %>
    </p>
    
    <p>
      <strong>Email:</strong>
      <%= @customer.person.email %>
    </p>
  <% end %>
  <% unless @customer.payment.nil? %>
    <p>
      <strong>Payment info:</strong>
      <%= "xxxx-xxxx-xxxx-#{@customer.payment.card_num[-4..-1]}" %>
    </p>
  <% end %>
</div>



<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>