<%= form_with(model: movie_genre, local: true) do |form| %>
  <% if movie_genre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie_genre.errors.count, "error") %> prohibited this movie_genre from being saved:</h2>

      <ul>
      <% movie_genre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :genre %>
    <%= form.select :genre, ShowGenre.genres.keys.map { |w| [w.humanize, w] }, {include_blank: ''}, class: "custom-select" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
