<%= form_with(model: movie_genre, local: true) do |form| %>
  <% if movie_genre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie_genre.errors.count, "error") %> prohibited this movie_genre from being saved:</h2>

      <ul>
      <% movie_genre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :genre %>
    <%= form.text_field :genre, id: :movie_genre_genre %>
  </div>

  <div class="field">
    <%= form.label :movie_id %>
    <%= form.number_field :movie_id, id: :movie_genre_movie_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
