<p id="notice"><%= notice %></p>

<p>
  <strong>Genre:</strong>
  <%= @movie_genre.genre %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @movie_genre.movie_id %>
</p>

<%= link_to 'Edit', edit_movie_genre_path(@movie_genre) %> |
<%= link_to 'Back', movie_genres_path %>
