<div class="media profile-comment">
  <div class="media-left">
    <% if profile_comment.customer.person.avatar.attached? %>
      <%= image_tag(url_for(profile_comment.customer.person.avatar), :alt => "Avatar", size: "58x58") %>
    <% else %>
      <%= image_tag("homepage/01.jpg", :alt => "Avatar", size: "58x58") %>
    <% end %>
  </div>
  <div class="media-body">
    <small id="profile-comment-time"><%= time_ago_in_words profile_comment.created_at %> ago</small>
    <b class="media-heading"><%= link_to profile_comment.customer.person.full_name, profile_comment.customer %></b>
    <p><%= profile_comment.comment %></p>
  </div>
</div>
