<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @profile_comment.customer_id %>
</p>

<p>
  <strong>Commentor:</strong>
  <%= @profile_comment.commentor_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @profile_comment.comment %>
</p>

<%= link_to 'Edit', edit_profile_comment_path(@profile_comment) %> |
<%= link_to 'Back', profile_comments_path %>
