<%= form_with(model: payment, local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :card_name %>
    <%= form.text_field :card_name, id: :payment_card_name %>
  </div>

  <div class="field">
    <%= form.label :card_num %>
    <%= form.text_field :card_num, id: :payment_card_num %>
  </div>

  <div class="field">
    <%= form.label :cvc %>
    <%= form.number_field :cvc, id: :payment_cvc %>
  </div>

  <div class="field">
    <%= form.label :expiration %>
    <%= form.date_select :expiration, id: :payment_expiration %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
