<p id="notice"><%= notice %></p>

<p>
  <strong>Card name:</strong>
  <%= @payment.card_name %>
</p>

<p>
  <strong>Card num:</strong>
  <%= @payment.card_num %>
</p>

<p>
  <strong>Cvc:</strong>
  <%= @payment.cvc %>
</p>

<p>
  <strong>Expiration:</strong>
  <%= @payment.expiration %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
