<%= form_with(model: show, local: true) do |form| %>
  <% if show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(show.errors.count, "error") %> prohibited this show from being saved:</h2>

      <ul>
      <% show.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form.fields_for :show do |show_fields| %>
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="text-body">Show information:</h3></div>
      <div class="panel-body">
        <div class="form-group">
          <%= form.label :promo_image, style: 'color: black;' %>
          <%= form.file_field :promo_image, id: :show_promo_image,
            accept: "image/png,image/gif,image/jpeg", direct_upload: true,
            class: "direct-upload" %>
        </div>
        <div class="form-group">
          <%= form.label :name, style: 'color: black;' %>
          <%= form.text_field :name, id: :show_name, class: "form-control" %>
          <%= form.hidden_field :producer_id, value: current_person.user.id %>
        </div>
        
        <div class="form-group">
          <%= form.label :description, style: 'color: black;' %>
          <%= form.text_area :description, id: :show_description, class: "form-control" %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit class: "btn btn-primary btn-block" %>
  </div>
<% end %>
