<div class="container">
<p id="notice"><%= notice %></p>

<h1>Shows</h1>

<ul class="shows_list">
  <% @shows.each do |show| %>
  <li>
    <p class="show_list_image">
      <% if show.promo_image.attached? %>
          <%= image_tag(url_for(show.promo_image), :alt => "Promo Image", :style => "height: 100px; width: 100px;") %>
        <% else %>
          <%= image_tag("nullPhoto.png", :alt => "Thumbnail", :style => "height: 100px; width: 100px;") %>
        <% end %>
    </p>
    
    <div class="show_description">
      <h3 id="sm-text"><%= show.name %></h3>
      <p id="sm-text">
        <%= show.description %>
        <br/>
        <%= link_to 'Check Out', show, {:style=>'color:#FFFFFF;', :class => "css_class"} %>
      </p>
    </div>
  </li>
  <% end %>
</ul>

<br>
</div>