<div class="container">
  <p id="notice"><%= notice %></p>
<div>
  <h1 class="show_title" style="color:black;">
    <%= @show.name %>
    <% if @show.promo_image.attached? %>
        <%= image_tag(url_for(@show.promo_image), :alt => "Promo Image", :style => "height: 400px; width: 300px;") %>
    <% else %>
        <%= image_tag("nullPhoto.png", :alt => "nullPhoto", :style => "height: 400px; width: 300px;") %>
    <% end %>
  </h1>
  
  <h2 class="show_description">
    <% if logged_in? && current_person.customer? %>
    <p>
      <ul class="show_navbar_nav">
        <li>
          <% if current_person.user.can_subscribe?(@show) %>
            <%= form_with(model: Subscription.new) do |form| %>
              <%= form.hidden_field :customer_id, value: current_person.user.id %>
              <%= form.hidden_field :show_id, value: @show.id %>
              <%= form.submit "Subscribe", class: "btn btn-info" %>
            <% end %>
          <% end %>
        </li>
        <li>
          <%= link_to "Play", @show.episodes.find_by(absolute_episode: "1").video, class: "btn btn-primary" %>
        </li>
      </ul>
      <br />
    </p>
    <% end %>
    <p id="sm-text">
      <strong>Description:</strong>
      <%= @show.description %>
    </p>
    
    <% unless @show.producer.nil? %>
    <p id="sm-text">
      <strong>Producer:</strong>
      <%= @show.producer.company_name %>
    </p>
    <% end %>
    
    <% if current_person.customer? %>
      <p>
        <%= link_to 'Return to shows', shows_path, {:style=>'color:#FFFFFF;', :class => "css_class"} %>
      </p>
    <% else %>
      <p>
        <%= link_to 'Return', pro_shows_path, {:style=>'color:#FFFFFF;', :class => "css_class"} %>
      </p>
    <% end %>
    
  </h2>
</div>  

<div class="episodes_list">
  <h3 id="sm-text">Episodes</h3>
  <ul>
    <% @show.episodes.each do |episode| %>
    <li>
      <p class="episodes_list_image">
        <% if episode.video.thumbnail.attached? %>
          <%= image_tag(url_for(episode.video.thumbnail), :alt => "Promo Image", :style => "height: 100px; width: 100px;") %>
        <% else %>
          <%= image_tag("nullPhoto.png", :alt => "Thumbnail", :style => "height: 100px; width: 100px;") %>
        <% end %>
      </p>
    
      <div class="episodes_description">
        <h3 id="sm-text"><%= episode.episode %> <%= episode.video.title %></h3>
        <p id="sm-text">
          <%= episode.video.description %>
          <br/>
          <% if current_person.customer? %>
            <%= link_to 'Watch', episode.video, class: "btn btn-primary btn-large" %>
          <% elsif current_person.user == @show.producer %>
            <%= link_to 'Delete Episode', episode, class: "btn btn-primary btn-large", method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          
        </p>
      </div>
      
    </li>
    <% end %>
    <% if current_person.producer? and current_person.user == @show.producer %>
      <%= link_to 'Add Episode', new_episode_path(show_id: @show.id), class: "btn btn-primary btn-large" %>
      <%= link_to 'Edit Show', edit_show_path, class: "btn btn-primary btn-large" %>
      <%= link_to 'Delete Show', @show, class: "btn btn-primary btn-large", method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </ul>
</div>
</div>
  

