<ul class="navbar-nav">
  <li class="nav-item">
    <%= link_to "My Shows", pro_shows_path, class: "nav-link" %>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
      <%= current_person.user.company_name %>
    </a>
    <div class="dropdown-menu">
      <%= link_to "Profile", current_person.user, class: "dropdown-item" %>
      <%= link_to "Settings", edit_person_path(current_person), class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to "Log out", logout_path, method: :delete, class: "dropdown-item" %>
    </div>
  </li>
</ul>