<!DOCTYPE html>
<html>
  <head>
    <title>Tempo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>This will display on all pages.</p>
    <header>
      <h1>ionicsoft</h1>
      <ul>
        <li><%= link_to "Customers", "/customers" %></li>
        <li><%= link_to "People", "/people" %></li>
        <li><%= link_to "Customers", "/customers" %></li>
        <li><%= link_to "Customers", "/customers" %></li>
        <li><%= link_to "Customers", "/customers" %></li>
        <li><%= link_to "Customers", "/customers" %></li>
        <li><%= link_to "Customers", "/customers" %></li>
        <li><%= link_to "Customers", "/customers" %></li>
        <li><%= link_to "Customers", "/customers" %></li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
