<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vidon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-light navbar-expand-sm fixed-top">
        <div class="container">
          <%= link_to root_path, class: "navbar-brand" do %>
            <%= image_tag "logo-small.png", size: "30x30" %>
            <span>Vidon</span>
          <% end %>
          
          <div class="collapse navbar-collapse justify-content-end">
            <% if logged_in? %>
              <% if current_person.customer? %>
                <%= render 'navbar_customer' %>
              <% else %>
                <%= render 'navbar_producer' %>
              <% end %>
            <% else %>
              <%= render 'navbar_guest' %>
            <% end %>
          </div>
  		  </div>
      </nav>
    </header>
    <%= yield %>
    <footer id="footer" class="fixed-bottom">
      <div class="container">
        <small><%= link_to "i/onicSoft", "https://sites.google.com/view/ionicsoft" %></small>
        <ul>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
        </ul>
      </div>
    </footer>
    <script src='https://vjs.zencdn.net/7.4.1/video.js'></script>
  </body>
</html>
